greenlet==0.4.15
helpdev==0.6.10
idna==2.9
importlib-metadata==1.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mechanize==0.4.6
multidict==4.7.5
numpy==1.18.2
pandas==1.0.3
pefile==2019.4.18
psutil==5.7.0
pyaes==1.6.1
pycparser==2.20
PyInstaller==3.6
pylint==2.4.4
PyQt5==5.14.1
PyQt5-sip==12.7.1
Pyrogram==0.16.0
PySocks==1.7.0
pyTelegramBotAPI==3.6.7
python-dateutil==2.8.1
qdarkgraystyle==1.0.2
QDarkStyle==2.8.1
QtPy==1.9.0
requests==2.7.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
telebot==0.0.3
telepot==12.7
